* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #53884e;
    color: white;
    height: 50px;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding:0 auto;
}
a:hover {
    text-decoration: none; 
}
a:visited {
    color: white; 
}

a:focus, a:active {
    outline: none; 
}


.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-links .active {
    background-color: #67b161; 
    padding:10px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-links li {
    margin-right: 20px;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #5e9a59;
        text-align: center;
    }

    .navbar-links.show {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    .menu-btn:before {
        content: '\2630'; 
        font-size: 24px;
    }

    .navbar-links ul {
        flex-direction:row;
    }

    .navbar-links li {
        margin: 0;
        padding: 15px;
    }
}

.container{
    max-width: 400px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top:100px;
    border-radius: 30px;

}
.form-group{
    margin-bottom:30px;
}

input[type=text] {
    border-radius:5px;
    width:300px;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 10px;
  }
  input[type="text"]:focus {
    outline: none; 
    border-color: #53884e; 
    box-shadow: 0 0 5px #53884e; 
  }

  input[type=emamil] {
    border-radius:5px;
    width:300px;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 10px;
  }
  input[type="emamil"]:focus {
    outline: none; 
    border-color: #53884e; 
    box-shadow: 0 0 5px #53884e; 
  }

  input[type=password] {
    border-radius:5px;
    width:300px;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 10px;
  }
  input[type="password"]:focus {
    outline: none; 
    border-color: #53884e; 
    box-shadow: 0 0 5px #53884e; 
  }

.btn-primary{
    border-radius:30px;
    color:white;
    border-color: #53884e;
    background-color: #53884e;
    padding: 5px;
}
.btn-primary{
    border-radius:30px;
    color:white;
    border-color: #53884e;
    background-color: #53884e;
    padding: 10px;
    cursor:pointer;
    display: inline-block;
    border: none;
    outline: none;
}

.mapa{
    height:300px;
    width:500px;
    margin-right:30px;
    margin-top:50px;
}